// If you want to override variables do it here
@import "variables";
// $primary: red;
$body-bg:  black;
$body-color: #D1D0CF;
// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";
// Some temp fixes
@import "fixes";
// If you want to add something do it here
@import "custom";
.card, .card-header, .c-sidebar-nav{
    background-color: #141414;
}
input{
    background-color: #141414;
}
.text-muted{
    background-color:black;
    color:white;
    height :100px;
    padding: 5px;
    margin-top:40px;
}

.cubic-form{
    width:15px;
    height:15px;
    border-radius: 20%;
    background-color: red;
}

.card-header{
    border-color:black;
}
.card-body{
    border-color:black;

}
.table{
    border-color:black;

}
.table-head th{
    background-color:#141414;
}
.table th, .table td{
    border-color: #141414;
    margin-top: 3px;
    background-color: black;
    
}
.card{
    border-color: #141414;

}
.c-avatar-img{
    border-radius: 0;
}
.section-title{
    font-size: 1.5rem;;
}
.custom-select-sm, input.form-control {
    background-color: black;
    color:white;
    border-color: #141414;

}